# LabelEncodoer  Vs OrdinalEncoder
# label encoding
label encoding apply on ordinal and nominal both categorical varibals<br>
hence label encoding impact on machine learning algorthyms<br>
# ordinal algorithm
apply on ordinal variable ,and no impact on machine learning algorithyms

In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder 
from sklearn.preprocessing import OrdinalEncoder

In [4]:
data=pd.read_csv('train.csv')
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [7]:
df=data[['KitchenQual','BldgType']]
df.head(2)

  KitchenQual BldgType
0          Gd     1Fam
1          TA     1Fam

In [8]:
df['BldgType'].value_counts()

1Fam      1220
TwnhsE     114
Duplex      52
Twnhs       43
2fmCon      31
Name: BldgType, dtype: int64

In [9]:
df['KitchenQual'].value_counts()

TA    735
Gd    586
Ex    100
Fa     39
Name: KitchenQual, dtype: int64

# first we use LabelEncoder

In [10]:
obj=LabelEncoder()

In [12]:
obj.fit_transform(data[['BldgType']])

(1460,)

In [13]:
df['bldtype_Label_encdr']=obj.fit_transform(data[['BldgType']])
df.head()

<ipython-input-13-3afd4c9fb956>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['bldtype_Label_encdr']=obj.fit_transform(data[['BldgType']])

  KitchenQual BldgType  bldtype_Label_encdr
0          Gd     1Fam                    0
1          TA     1Fam                    0
2          Gd     1Fam                    0
3          Gd     1Fam                    0
4          Gd     1Fam                    0

In [14]:
df['BldgType'].value_counts()

1Fam      1220
TwnhsE     114
Duplex      52
Twnhs       43
2fmCon      31
Name: BldgType, dtype: int64

In [15]:
df['bldtype_Label_encdr'].value_counts()

0    1220
4     114
2      52
3      43
1      31
Name: bldtype_Label_encdr, dtype: int64

# labelEncoding by using function

In [19]:
Ordinal_encodr={'TA':3,'Gd':2,'Ex':1,'Fa':4}
df['kitchen_func']=df['KitchenQual'].map(Ordinal_encodr)
df.head()

<ipython-input-19-4ff9d9734cb3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['kitchen_func']=df['KitchenQual'].map(Ordinal_encodr)

  KitchenQual BldgType  bldtype_Label_encdr  kitchen_func
0          Gd     1Fam                    0             2
1          TA     1Fam                    0             3
2          Gd     1Fam                    0             2
3          Gd     1Fam                    0             2
4          Gd     1Fam                    0             2

In [17]:
df['KitchenQual'].value_counts()

TA    735
Gd    586
Ex    100
Fa     39
Name: KitchenQual, dtype: int64

In [20]:
df['kitchen_func'].value_counts()

3    735
2    586
1    100
4     39
Name: kitchen_func, dtype: int64

In [24]:
from sklearn.preprocessing import OrdinalEncoder

In [23]:
data['LandContour'].value_counts()

Lvl    1311
Bnk      63
HLS      50
Low      36
Name: LandContour, dtype: int64

In [27]:
obj2=OrdinalEncoder()

In [29]:
obj2.fit_transform(data[['LandContour']])

array([[3.],
       [3.],
       [3.],
       ...,
       [3.],
       [3.],
       [3.]])

In [32]:
df.head(2)            # i will join my OrdinalEncoder value in this dataframe

  KitchenQual BldgType LandContour
0          Gd     1Fam         Lvl
1          TA     1Fam         Lvl

In [33]:
df['LandContour_Ordinl']=obj2.fit_transform(df[['LandContour']])
df.head()

<ipython-input-33-8439822ee650>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['LandContour_Ordinl']=obj2.fit_transform(df[['LandContour']])

  KitchenQual BldgType LandContour  LandContour_Ordinl
0          Gd     1Fam         Lvl                 3.0
1          TA     1Fam         Lvl                 3.0
2          Gd     1Fam         Lvl                 3.0
3          Gd     1Fam         Lvl                 3.0
4          Gd     1Fam         Lvl                 3.0

## check it there

In [45]:
df['LandContour'].value_counts().index

Index(['Lvl', 'Bnk', 'HLS', 'Low'], dtype='object')

In [39]:
names=df['LandContour'].value_counts().keys()              #sorted keys for better understanding
sorted(names)

['Bnk', 'HLS', 'Low', 'Lvl']

In [46]:
df['LandContour_Ordinl'].value_counts().keys()

Float64Index([3.0, 0.0, 1.0, 2.0], dtype='float64')

# Ohh hello encoding is not finished ,because 
<b>encoding have different , different methods,Sooo goto toward datasciences blog </b>